#classicformpage .view {
    background-image: url('https://www.lrt.lt/img/2019/08/16/491870-512810-1287x836.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
  
  #classicformpage .card {
    background-color: rgba(255, 152, 0, 0.7);
  }
  
  #classicformpage h6 {
    line-height: 1.7;
  }
  
  #classicformpage .navbar {
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  
  #classicformpage .top-nav-collapse {
    background: #FF9800 !important;
  }
  
  @media (max-width: 768px) {
    #classicformpage .navbar:not(.top-nav-collapse) {
        background: #FF9800 !important;
    }

    #content-media{
      margin-top: 2.5rem;
    }

 
  }
  
  #classicformpage label {
    color: #fff!important;
  }